{% extends 'base.html' %} {% load static %} {% block content %}

<!-- MAIN -->
<main role="main">
  <!-- Content -->
  <article>
    <header class="section-top-padding background-white">
      <div class="line text-center">
        <h1
          class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1"
        >
          About Us
          <center>
            <div class="underlinetext"></div>
          </center>
        </h1>
        <p class="margin-bottom-0 text-size-16 text-dark">
          East Rand based Macmillan & Sibusiso Innovations founded by two
          childhood friends Thabo Macmillan Maja & Lebohang Sibusiso Ncholo,
          after many years of building their own individual brands as freelance
          workers in their own respective fields Macmillan as tiles, floors,
          construction expert and Lebohang as a third generation carpenter of
          his family with over two decades experience. Inspired by a common goal
          skills and experience Macmillan & Sibusiso Innovations was born.
        </p>
      </div>
    </header>
    <section class="section-top-padding background-white">
      <div class="line">
        <div class="margin">
          <div class="s-12 m-12 l-4 margin-m-bottom">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture8.jpg' %}" alt=""
            /></a>
            <h2>What we do</h2>
            <div class="underlinetext small"></div>
            <p class="margin-bottom">
              Our commercial projects include Carpentry/Woodworking, Tiling, new
              Handyman, construction and repairs/restorations. Occupied and
              fully operational job sites are never a problem. And we can also
              plan, manage, and build multi-phase jobs.
            </p>
          </div>
          <div class="s-12 m-12 l-4 margin-m-bottom">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture11.jpg' %}" alt=""
            /></a>
            <h2>Tiling projects</h2>
            <div class="underlinetext small"></div>
            <p class="margin-bottom">
              Tiles can give a room a whole new look. You might be ripping up
              old floors and putting in new tile flooring, or transforming a
              bathroom with fresh walls and floors.<br />
              Whatever the project, tiles are a unique way to bring personality
              to your home.<br />
              We specialise in tiling: from shower floors to external tiling,
              cladding and bathrooms. Whatever your tiling needs, we have the
              skills and experience to bring your vision to life.
            </p>
          </div>
          <div class="s-12 m-12 l-4 margin-m-bottom">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture6.jpg' %}" alt=""
            /></a>
            <h2>Carpentry/Woodworking</h2>
            <div class="underlinetext small"></div>
            <p class="margin-bottom">
              <li>Cabinetry Shop serving residential, commercial clients.</li>
              <li>Conference Tables</li>
              <li>Built Ins</li>
              <li>Doors / Gates</li>
              <li>Screen Doors</li>
              <li>Cabinetry</li>
              <li>
                Custom furniture for yacht, motor coach and aviation clients and
                designers.
              </li>
              <li>Repair of damaged wood floors, tables and furniture.</li>
              <li>Ceilings</li>
            </p>
          </div>
          <div class="s-12 m-12 l-4 margin-m-bottom margin-top-20">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture2.jpg' %}" alt=""
            /></a>
            <h2>Handyman projects</h2>
            <div class="underlinetext small"></div>
            <p class="margin-bottom">
              Our experienced team is here to hang doors, do any general
              maintenance around your home and fix any quick, small repairs or
              replacements you need, like locks and hinges. Anything in your
              home that needs fixing the A-team is within your reach!
            </p>
          </div>
          <div class="s-12 m-12 l-4 margin-m-bottom margin-top-20">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture12.jpg' %}" alt=""
            /></a>
          </div>
          <div class="s-12 m-12 l-4 margin-m-bottom margin-top-20">
            <a class="image-hover-zoom margin-bottom" href="/"
              ><img src="{% static 'img/work_pictures/picture9.jpg' %}" alt=""
            /></a>
            <h2>WORKING TOGETHER</h2>
            <div class="underlinetext small"></div>
            <p class="margin-bottom">
              We offer an end-to-end client experience that includes seamless
              communication, budgeting, staffing, on-site organization, and
              solid, quality handiwork every time.
            </p>
          </div>
        </div>
      </div>
      <section>
        <div class="line">
          <h2
            class="text-s-size-40 text-size-40 text-line-height-1 margin-bottom-10 text-thin text-center margin-top-40"
          >
            <span class="text-dark">-</span> Why Choose Us.
            <span class="text-dark">-</span>
          </h2>
          <p
            class="margin-bottom-0 text-size-16 text-dark text-center margin-top-20"
          >
            We work with highly skilled Electricians, architects and designers
            to produce beautiful, functional structures. Call us today and bring
            our project management skills and extensive construction experience
            to your next project.
          </p>
        </div>
      </section>
    </section>
    <section class="section-top-padding background-white">
      <div class="line">
        <h2
          class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"
        >
          <span class="text-dark">-</span> Our Team
          <span class="text-dark">-</span>
        </h2>
        <div class="carousel-blocks owl-carousel">
          <div class="item">
            <div class="padding">
              <img
                class="full-img border-image border-primary"
                src="{% static 'img/team-03.jpg' %}"
                alt=""
                title="Team"
              />
              <h3
                class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0"
              >
                Thabo Macmillan Maja
              </h3>
              <p class="text-size-14 text-dark margin-bottom-10">Team Member</p>
              <a target="_blank" href="#"
                ><i class="icon-facebook_circle text-size-20 icons-colors"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="icon-twitter_circle text-size-20 icons-colors"></i
              ></a>
              <a target="_blank" href="#"
                ><i
                  class="icon-google_plus_circle text-size-20 icons-colors"
                ></i
              ></a>
            </div>
          </div>
          <div class="item">
            <div class="padding">
              <img
                class="full-img border-image border-primary"
                src="{% static 'img/team-04.jpg' %}"
                alt=""
                title="Team"
              />
              <h3
                class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0"
              >
                Lebohang Sibusiso Ncholo
              </h3>
              <p class="text-size-14 text-dark margin-bottom-10">CEO</p>
              <a target="_blank" href="https://www.facebook.com/lebo.ncholo.7"
                ><i class="icon-facebook_circle text-size-20 icons-colors"></i
              ></a>
              <a target="_blank" href="#"
                ><i class="icon-twitter_circle text-size-20 icons-colors"></i
              ></a>
              <a target="_blank" href="#"
                ><i
                  class="icon-google_plus_circle text-size-20 icons-colors"
                ></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>

{% endblock %}
