{% extends 'base.html' %} {% load static %} {% block content %}



<!-- MAIN -->
<main role="main">
  <!-- Content -->
  <article>
    <header class="section background-white">
      <div class="line text-center">
        <h1
          class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1"
        >
          Contact Us
           <center>
            <div class="underlinetext"></div>
          </center>
        </h1>
        <p class="margin-bottom-0 text-size-16 text-dark">
          MACMILLAN & SIBUSISO INNOVATIONS.
        </p>
      </div>
    </header>
    <section class="full-width background-dark">
      <div class="s-12 m-12 l-6">
        <!-- Change the background image -->
        <div
          style="background-image: url({% static "img/work_pictures/generalLogo.png" %}");
          class="contact-image"
        ></div>
      </div>
      <div class="s-12 m-12 l-6 text-center">
        <div class="padding-2x">
          <i class="icon-sli-location-pin icons-colors text-size-30 center"></i>
          <h2 class="text-size-20 margin-bottom-0 text-white">
            Company Address
          </h2>
          <p>3 Suurklapper st</p>
          <p>Dalpark , 1543</p>
          <p>Brakpan</p>
          <i
            class="icon-sli-envelope icons-colors text-size-30 center margin-top-20"
          ></i>
          <h2 class="text-size-20 margin-bottom-0 text-white">E-mail</h2>
          <a class="text-primary-hover" href="mailto:mnsinnovations@gmail.com"
            >mnsinnovations@gmail.com</a
          ><br />
          <i
            class="icon-sli-earphones-alt icons-colors text-size-30 center margin-top-20"
          ></i>
          <h2 class="text-size-20 margin-bottom-0 text-white">Phone Numbers</h2>
          <a href="tel:+270663200529"
                  ><p class="text-size-14">066 320 0529</p></a
                >
        </div>
      </div>
    </section>
  

    <section class="section background-white">
      <div class="s-12 m-12 l-4 center">
        <h4 class="text-size-20 margin-bottom-20 text-dark text-center">
          Contact Us
           <center>
            <div class="underlinetext small"></div>
          </center>
        </h4>
        <form name="contactForm" class="customform" method="post"   action="{% url 'contact' %}">
            {% csrf_token %}
          <div class="s-12">
            <div class="margin">
              <div class="s-12 m-12 l-6">
                <input
                  name="message-email"
                  class="required email"
                  placeholder="Your e-mail"
                  title="Your e-mail"
                  type="text"
                />
                <p class="email-error form-error">Please enter your e-mail.</p>
              </div>
              <div class="s-12 m-12 l-6">
                <input
                  name="message-name"
                  class="name"
                  placeholder="Your name"
                  title="Your name"
                  type="text"
                />
                <p class="name-error form-error">Please enter your name.</p>
              </div>
            </div>
          </div>
          <div class="s-12">
            <textarea
              name="message"
              class="required message"
              placeholder="Your message"
              rows="3"
            ></textarea>
            <p class="message-error form-error">Please enter your message.</p>
          </div>
          <div class="s-12">
            <button
              class="s-12 submit-form button background-transparent text-white"
              type="submit"
            >
              Submit Button
            </button>
          </div>
        </form>
      </div>
    </section>
  </article>
</main>

{% endblock %}
