{% extends 'base.html' %} {% load static %} {% block content %}

<!-- MAIN -->
<main role="main">
  <!-- Content -->
  <article>
    <header class="section background-white">
      <div class="line text-center">
        <h1
          class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1"
        >
          Macmillan & Sibusiso Innovations
        </h1>
        <div class="underlinetext"></div>
        <p class="margin-bottom-0 text-size-16 text-dark">
          Custom Woodworking and Built in's for residential and commercial
          clients using <br />the finest Craftsmanship,Materials and
          Technology.<br />
          066 320 0529
        </p>
      </div>
    </header>
    <div class="background-white full-width">
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture1.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture2.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture3.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture4.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture5.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture6.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture7.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture8.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture9.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture10.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture11.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture12.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture13.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture14.jpg' %}"
            alt=""
          />
        </a>
      </div>
      <div class="s-12 m-6 l-five">
        <a
          class="image-with-hover-overlay image-hover-zoom"
          href="/"
          title="Portfolio Image"
        >
          <img
            class="full-img"
            src="{% static 'img/work_pictures/picture15.jpg' %}"
            alt=""
          />
        </a>
      </div>
    </div>
  </article>
</main>
{% endblock %}

<!-- #809133 -->
